/*General Layout*/

*{
    margin:0;

    font-size: 1.1rem;
}


ul {
    list-style: none;
    padding: 10%;
}

li {
    margin-top: 20px;
    padding: 10px;
}

h4 {
    margin-top:10px;
    margin-bottom:-10px;
    margin-left: 10px;
    font-size: larger;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 6fr;
}

.rightcontainer {
    display:grid;
    grid-template-rows: 2fr 12fr 1fr;
    background-color: #e0e7ff;
    height: 100vh;
}

.mainBody{
    display:grid;
    grid-template-columns: 3fr 1fr;
   
}

.bodyR {
    display: grid;
    grid-template-rows: 1fr 1fr;
}


.icon {
    width:40px;
}

.icon:hover {
    transition: 100ms;
    transform: scale(1.1);
    cursor: pointer;
}

/*Navigation bar styles*/

.leftcontainer {
    display:grid;
    grid-template-rows: 1fr 3fr 3fr;
    background-color:#312e81;
    color: #eef2ff;
    height: 100vh;
}

ul > li {
    list-style: none;
    font-size: 1.2rem;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}

.lHeader{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor:pointer;
}

.lHeader>:nth-child(2) {
    font-size: 1.5rem;
}

.dash {
    width: 70px;
}

.lHeader:hover {
    transition: 200ms;
    transform: scale(1.2);
}


.menu1>*:hover {
    cursor:pointer;
    background-color: #6366f1 ;
    border-left: solid 10px white;
    border-radius:10px;
    padding-left: 5px;
    transition: 200ms;
}

.menu2>*:hover {
    cursor:pointer;
    background-color: #6366f1 ;
    border-left: solid 10px white;
    border-radius:10px;
    padding-left: 5px;
    transition: 200ms;
}


/*Header styles*/



.rHeader {
    background-color: #eef2ff;
    display: grid;
    grid-template-rows: 1fr 1fr;
}


#bigicon {
    width:60px;
    justify-self: center;
}

#bigicon:hover{
    transition: 400ms;
    transform: rotate(360deg);
}
.upperHeader {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.searchbar {
    height:20px;
    width: 80%;
}

.search .icon:hover{
    transition: 100ms;
    transform: scale(1.2);
}
.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.lowerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;

}

.welcome {
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.lowerRightHeader {
    display: flex;
    justify-content: flex-end;
    padding-right:20%;
    gap: 30px;
    flex-shrink:0;
}

.lowerRightHeader button{
    height: 30px;
    width: 80px;
    border:none;
    color:white;
    background-color: #312e81;
    border-radius: 10px;
    font-size:1rem;  
}

.lowerRightHeader button:hover{
    background-color: #818cf8;
    transform: scale(1.2);
    cursor: pointer;
    transition: 200ms;
}


/*Body styles*/

.cardContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:90%;
    gap: 40px;
    padding: 40px 40px 0px 40px;
}

.card{
    background-color: white;
    border-radius:25% 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 0 15% 0 15%;
}


.title {
    font-size: large;
    font-weight: bold;
}

.links {
    display: flex;
    gap: 10px;
    align-self: flex-end;
}
/* Announcement styles*/
.announcements {
    display: grid;
    grid-template-rows: 1fr 10fr;
    
}

.announcementContainer {
    background-color: white;
    padding: 40px;
    display:grid;
    margin-right: 20px;
    border-radius: 10px;

}

/* Trending styles*/

.trending{
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.trendingcontent{
    background-color: white;
    padding: 20px;
    display:grid;
    margin-right: 20px;
    height: 80%;
    width: 60%;
    border-radius:10px;
    align-items: center;

}

.trendingcontent>* {
    display: flex;
    justify-content: flex-start;
    padding-left: 10%;
    gap: 20px;
}

.trendingcontent>*>img {
    width:50px;
    height:50px;
}