*{
    margin:0;
}


ul {
    list-style: none;
    padding: 10%;
}

li {
    margin-top: 20px;
}
h4 {
    margin-top:10px;
    margin-bottom:-10px;
    margin-left: 10px;
}

.container{
    height:100vh;
    display:grid;
    grid-template-columns: 1fr 6fr;
}

.leftcontainer {
    display:grid;
    grid-template-rows: 1fr 2fr 3fr;
    background-color: lightblue;
}

.rightcontainer {
    display:grid;
    grid-template-rows: 2fr 12fr 1fr;
    background-color: yellow;
}

.mainBody{
    display:grid;
    grid-template-columns: 3fr 1fr;
   
}

.bodyR {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.rHeader {
    background-color: beige;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.cardContainer {
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    height:100%;
    gap: 20px;
    padding: 20px;
}

.card{
    background-color: white;
    padding:10px;
}


.announcements {
    display: grid;
    grid-template-rows: 1fr 10fr;
}
.announcementContainer {
    background-color: white;
    padding: 20px;
    display:grid;
    margin-right: 20px;

}

.trending{
    display: grid;
    grid-template-rows: 1fr 10fr;
}

.trendingcontent{
    background-color: white;
    padding: 20px;
    display:grid;
    margin-right: 20px;
    height: 80%

}

.icon {
    width:35px;
}

#bigicon {
    width:40px;
    justify-self: center;
}

.lHeader{
    display: flex;
    justify-content: center;
    align-items: center;
}

.dash {
    width: 70px;
}

.upperHeader {
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.searchbar {
    height:20px;
    width: 80%;
}

.profile{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;

}

.lowerHeader {
    display: grid;
    grid-template-columns: 1fr 1fr ;
    align-items: center;

}

.welcome {
    display: grid;
    grid-template-columns: 1fr 5fr;

}

.lowerRightHeader {
    display: flex;
    justify-content: flex-end;
    padding-right:20%;
    gap: 30px;
    flex-shrink:0;
}

.lowerRightHeader button{
    height: 30px;
    width: 80px;
    
}

ul > li {
    list-style: none;
    font-size: 20px;
    display: grid;
    grid-auto-flow: column;
    gap: 20px;
    justify-content: start;
    align-items: center;
}